<%- include('./includes/header') %>

<div class="container-fluid py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <h1 class="display-1" style="font-weight: 800">Securite</h1>
        <p class="lead">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa
          assumenda accusamus quaerat deserunt. Fugiat veniam sapiente, velit
          impedit, et repudiandae at beatae facere necessitatibus eos veritatis
          quisquam fugit ex tempora corrupti nihil quis neque! Assumenda
          temporibus quod labore aliquam. Aliquid vero autem sint? Sapiente,
          deserunt.
        </p>

        <button class="btn btn-danger rounded">Enregistrer</button>
      </div>
    </div>
  </div>
</div>

<%- include('./includes/footer') %>
