<%- include('./includes/header') %>

<div class="container-fluid">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <h1 class="display-1">Securite</h1>
        <p>Reste connecter est surveille les porte</p>
      </div>
      <div class="col-md-3 col-sm-12 col-lg-3">
        <div class="card">
          <div class="card-body">
            <div class="stream shadow">Camera..3</div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-12 col-lg-3">
        <div class="card">
          <div class="card-body">
            <div class="stream shadow">Camera..2</div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-12 col-lg-3">
        <div class="card p-1">
          <div class="card-body">
            <div class="stream shadow">Camera..1</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('./includes/footer') %>
